.app {
  background-color: rgb(158, 210, 212);
  height: 100%;
}

.container {
  text-align: center;
  background-color: white;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 70%;
  height: 100vh;
}

.titleWrapper {
  text-align: center;
  position: relative;
  top: 60px;
  font-family: "Crimson Text", serif;
}

.subTitle {
  text-align: center;
  font-size: large;
}

.buttonContainer {
  margin-top: 100px;
}
