.main {
  text-align: center;
  background-color: #209cee;
  height: 100vh;
}

.title {
  padding: 1em;
  text-align: center;
}

.subTitle {
  text-align: center;
  font-size: large;
}

.signup {
  padding: 1em;
}

.signupButton {
  border: 1px solid white;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
}