.app {
  background: #209cee;
  padding-top: 30px;
  height: 100vh;
}

.habit-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 1000px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.habit {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 13px 10px;
  font-size: 14px;
  margin-bottom: 6px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-height: 10px;
}

.completeButton {
  position: absolute;
  right: 10px;
  display: inline-flex;
}

